# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import os
print(os.getcwd())  # Check the current working directory
print(os.path.exists('df2_clean.csv'))  # Returns True if the file exists

C:\Users\soulu\Desktop\ironhack\week2\day3\lab-dw-data-structuring-and-combining
True

In [67]:
# Your code goes here

# CLEAN DF FROM FIRST DATASET
import pandas as pd
url = 'df2_clean.csv'
#df2 = cleaned first dataset
df2 = pd.read_csv(url)
#df2.head()
#df2.dtypes
df2.shape

(1071, 11)

In [60]:
import sys
sys.path.append('.')  # Ensure current directory is in the path

import pandas as pd
url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df3 = pd.read_csv(url_2)

import importlib
import cleaning_tool
importlib.reload(cleaning_tool)  # This ensures it reloads any edits

df3.columns = df3.columns.str.replace(" ", "_")
df3.columns = [col.lower() for col in df3.columns]
df3.rename(columns={'st': 'state'}, inplace=True)
df3['state'] = df3['state'].replace({'AZ': 'Arizona'})
df3['education'] = df3['education'].replace({'Bachelors': 'Bachelor'})
df3['customer_lifetime_value'] = df3['customer_lifetime_value'].astype(str).str.replace('%', '')

df3['vehicle_class'] = df3['vehicle_class'].apply(lambda x: 'Luxury' if isinstance(x, str) and 'luxury' in x.lower() else x)
df3['vehicle_class'].unique()

# splits according to slash '/' and takes only the value of index 1 [1] the second one
df3['number_of_open_complaints'] = df3['number_of_open_complaints'].apply(lambda x: int(str(x).split('/')[1]) if isinstance(x, str) and '/' in x else pd.to_numeric(x, errors='coerce'))


#change dtyps of columns
cols_to_convert = ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints']
df3[cols_to_convert] = df3[cols_to_convert].astype('float64')

# count rows where the whole row is nan
#(df3.isna().all(axis=1)).sum()

# amount of NaN in each column
#df3.isna().sum()

# Median value (most frequent value) because df2 we used median to replace 0
median_value_3 = df3['income'].median()

# replace 0 values in column income with the median value of the list
df3=df3.replace({'income': {0: median_value_3}})

# amount of 0 values in each column
#print((df3 == 0).sum())

print()
print(df3.shape) # amount of rows and columns

#df3.tail()
#df3.dtypes
#df3.columns

customer                       0
state                          0
gender                         0
education                      0
customer_lifetime_value        0
income                         0
monthly_premium_auto           0
number_of_open_complaints    796
total_claim_amount             0
policy_type                    0
vehicle_class                  0
dtype: int64

(996, 11)

In [62]:
#THIRD dataset to be merged --> df4

import pandas as pd
url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df4 = pd.read_csv(url_2)

import importlib
import cleaning_tool
importlib.reload(cleaning_tool)  # This ensures it reloads any edits



df4.columns = df4.columns.str.replace(" ", "_")
df4.columns = [col.lower() for col in df4.columns]
#df4.rename(columns={'st': 'state'}, inplace=True)
#df4['state'] = df4['state'].replace({'AZ': 'Arizona'})
#df4['education'] = df4['education'].replace({'Bachelors': 'Bachelor'})
#df4['customer_lifetime_value'] = df4['customer_lifetime_value'].astype(str).str.replace('%', '')

df4['vehicle_class'] = df4['vehicle_class'].apply(lambda x: 'Luxury' if isinstance(x, str) and 'luxury' in x.lower() else x)

#df4['vehicle_class'].unique()

# splits according to slash '/' and takes only the value of index 1 [1] the second one
#df4['number_of_open_complaints'] = df3['number_of_open_complaints'].apply(lambda x: int(str(x).split('/')[1]) if isinstance(x, str) and '/' in x else pd.to_numeric(x, errors='coerce'))

#change dtyps of columns
cols_to_convert_2 = ['income', 'monthly_premium_auto', 'number_of_open_complaints']
df4[cols_to_convert_2] = df4[cols_to_convert_2].astype('float64')

# count rows where the whole row is nan
#(df4.isna().all(axis=1)).sum()

# amount of NaN in each column
#df4.isna().sum()

# Median value (most frequent value) because df2 we used median to replace 0
median_value_4 = df4['income'].median()

# replace 0 values in column income with the median value of the list
df4=df4.replace({'income': {0: median_value_4}})

# amount of 0 values in each column
print((df4 == 0).sum())

print()
print(df4.shape) # amount of rows and columns
#df4.head()
#df4.tail()
#df4.dtypes
#df4.columns

customer                        0
state                           0
customer_lifetime_value         0
education                       0
gender                          0
income                          0
monthly_premium_auto            0
number_of_open_complaints    5629
policy_type                     0
total_claim_amount              0
vehicle_class                   0
dtype: int64

(7070, 11)

In [66]:
#Proof if all 3 df match
#set(df2.columns) == set(df3.columns) == set(df4.columns)

combined_df = pd.concat([df2, df3, df4], ignore_index=True)

combined_df.shape

(9137, 11)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [136]:
# Your code goes here
#FOURTH dataset to be merged --> df5

import pandas as pd
url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df5 = pd.read_csv(url_2)

# Drop the 'Unnamed:_0' column
df5 = df5.drop(columns=['unnamed:_0'])

#change effective_to_date column to datetime dtype
df5['effective_to_date'] = pd.to_datetime(df5['effective_to_date']).dt.normalize()

# Check if values are within a small range of 15.14907074
tolerance = 1e-5  # tolerance value to account for floating point precision
close_values = (df5['months_since_last_claim'] - 15.14907074).abs() < tolerance

# Count how many values are close to 15.14907074
#count = close_values.sum()
#print(f"The value close to 15.14907074 appears {count} times.")

# Check for unique values in the column
#unique_values = df5['months_since_last_claim'].unique()
#print(f"Unique values in 'months_since_last_claim': {unique_values}")

# Check first few rows of the column
#print(df5[['months_since_last_claim']].head(30))

# round down the multiple showing of 15.14907074 and save column as an int
df5['months_since_last_claim'] = df5['months_since_last_claim'].round().astype('int64')

#change Medsize to Medium to match other sizes
df5['vehicle_size'] = df5['vehicle_size'].replace('Medsize', 'Medium')

#print(df5.tail())
#df5['month'].unique()
#display(df5.dtypes)

(10910, 26)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [145]:
# Create pivot table to calculate total revenue (monthly_premium_auto) for each sales channel
pivot_table = df5.pivot_table(
    values='monthly_premium_auto', 
    index='sales_channel', 
    aggfunc='sum'
).round(2)

# Add the sum row at the bottom
pivot_table.loc['Total'] = pivot_table.sum()

# Calculate percentages of the total (excluding 'Total' row)
pivot_table_percentage = pivot_table / pivot_table.loc['Total'] * 100

# Round the percentages to 2 decimal places
pivot_table_percentage = pivot_table_percentage.round(2)

# Add the percentages to the pivot table
pivot_table['Percentage'] = pivot_table_percentage['monthly_premium_auto']

# Display the pivot table with the total and percentage
print(pivot_table)

"""
Insight:
- Top Sales Channels: The Agent channel generated the highest total revenue with 38.00%,
  followed by Branch with 27.63%, and Call Center with 19.47%.
- Combined, these top three contribute over 85% of total revenue.
- The Web channel underperforms at 14.90%, suggesting potential for optimization.
- Recommendation: Investigate why Agent and Branch outperform others, and improve Web strategy.
"""

#for col in df5.columns:
#    print(col)

#df5.head()

# The sales channel ordered from top to b

               monthly_premium_auto  Percentage
sales_channel
Agent                        386335       38.00
Branch                       280953       27.63
Call Center                  197970       19.47
Web                          151511       14.90
Total                       1016769      100.00

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [146]:
pivot_table = df5.pivot_table(
    values='customer_lifetime_value',
    index='gender',
    columns='education',
    aggfunc='mean'
).round(2)
print(pivot_table)

"""
 Insights:
- Master’s degree holders have the highest average customer lifetime value (CLV) for both genders — especially males ($8168.83) and closely followed by females ($8157.05).

- Among females, those with High School or Below education actually show the highest CLV ($8675.22), which is an interesting outlier and may warrant deeper analysis.

- Doctorate holders have lower CLVs compared to other education levels, especially among females ($7328.51).

- CLV values are relatively similar between genders, with slight variations depending on the education level.

- Males with College education ($8052.46) have a higher CLV than females with the same level ($7748.82), while in most other categories, females tend to have the edge.
"""

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here