# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
# Step 1: Clean df3 to match df2's structure (dataset 2=df3 to df2) 
#df3 = clean(df3)

# Step 2: Append df3 to df2 (rows merge from df2 and df3)  
#df_row_merge = pd.concat([df2, df3], ignore_index=True)

# Step 3: Clean df4 (new dataset/columns) if needed (clean before merging)
#df4 = clean(df4)

# Step 4: Concatenate df_row_merge and df4 as new columns (must align by index or key)
#df_final = pd.concat([df_row_merge, df4], axis=1)

# Optional: clean new columns in df_final if needed (final cleanup)
#df_final = clean_new_columns(df_final)

In [ ]:
import os
print(os.getcwd())  # Check the current working directory
print(os.path.exists('df2_clean.csv'))  # Returns True if the file exists

In [16]:
# Your code goes here

# CLEAN DF FROM FIRST DATASET
import pandas as pd
url = 'df2_clean.csv'
#df2 = cleaned first dataset
df2 = pd.read_csv(url)
df2.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,36234.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,36234.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,36234.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323

In [17]:
import sys
sys.path.append('.')  # Ensure current directory is in the path

import pandas as pd
url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df3 = pd.read_csv(url_2)

df3.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [19]:
import importlib
import cleaning_tool
importlib.reload(cleaning_tool)  # This ensures it reloads any edits

from cleaning_tool import clean_column_names
#from cleaning_tool import clean_gender

#print(df3['state'].unique())
#df3['state'].unique()
#df3.head(30)
df3.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [ ]:
print("Original column names:", df3.columns)

# Apply the cleaning function
df3 = clean_column_names(df3)

# Print cleaned column names
print("Cleaned column names:", df3.columns)

In [ ]:
url_3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
#df3 = uncleaned second dataset
df4 = pd.read_csv(url_3)
df4.head()

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
# Your code goes here

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here